html{
    color: #DADD98;
    background: linear-gradient(to bottom,black ,#4F7942 , #578449 );
}

.container {
    display: flex;
    
}

.left {
    width: 40vw; 
    background-color: black; 
    padding: 20px;
    height: 100vh;
    position: fixed;
    color: #DADD98;
    font-family: 'Stardos Stencil', Times, serif;
    flex-shrink: calc(1 - (100vw - 320px) / 680);
    top: 0;
    left: 0;

    
    

}
.left h1{
    text-align: center;
    font-size: 56px;
}

.icon_list{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    
}
 a{
    color: #DADD98 ;
    text-decoration: none;

}
.icon_list i:hover {
    border: 2px solid #006400;
    padding: 8px;
    border-radius: 35px;



}
.informationcontainer{
    padding-top: 20vh;
    z-index: 500;
    animation: slideleft 900ms ease-in;
}
.portalgun{
   max-width:50vw;
}
li{
    line-break: 2;
}
#portalgun{
    height: 40vh;
    rotate: -220deg;
    position: absolute;
    top:0px;
    right: -90px;
    z-index: -100;
    overflow: hidden;
    animation: slidein 600ms ease-in forwards;
    animation-delay: 50ms;
    opacity: 0;

}
.portal{
   max-width: 50vw;
}
#portal{
    position: absolute;
    width: 35vw;
    aspect-ratio: 2/2;
    overflow:hidden;
    top:65vh;
    left: -10vw;
    animation: slidespin 4s ease-in forwards ;
    animation-delay: 600ms;
    opacity: 0;
   
    
}

.right { 
    
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll;
    padding-left: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    top:0vh;
    right:0vw;
 
}
.right p{
    line-height: 200%;
}
.right h2{
    text-align: center;
    font-family: 'Stardos Stencil', Times, serif;
    font-size:30px;
    text-shadow: 2px 2px 2px  green;
   

}

.aboutme a{
    color:red;
}

.tech-list {
    width:30%;
}


.tech-list ul{
  display: flex;
  list-style:none;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 10%;
  line-height: 200%;
}
.tech-list li{
   
    list-style-type: square;
    margin-left: 10px;
   
}
.experiencebttn {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap:8%;
}
.experiencebttn button{
    height: 40px;
    width:8vw;
    text-align: center;
    border:4px solid #4F7942;
    background-color: transparent;
    color:  #DADD98;
    font-weight: bolder;
}
.experiencebttn button:hover{
    transform: scale(2);
}
#gitlink{
    text-decoration: underline solid 4px ;
}



@keyframes slideleft{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slidein {
    0%{
    opacity: 0;
    transform: translateY(-100px);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}
@keyframes slidespin {
    0% {
      opacity: 0;
      transform: translateY(-100px) rotate(0deg);
    }
    
    100% {
      transform: translateY(0) rotate(360deg);
      opacity: 1;
    }
  }

  @media  screen and  (max-width: 425px) and (max-height:900px) {
   
    .left h1 {
        font-size: 30px;
       
    }
    #portalgun{
        height:25vh;
        left:20%;
    }
    .icon_list{
        font-size: 20px;
    }
    .experiencebttn {
        display: flex;
        flex-direction: column;
        column-gap: 2px;
       

    }
    .experiencebttn button{
        width:120px;
    }
    .experiencebttn button:hover{
        transform: none;
        background-color: #4F7942;
      

    }

      .right h2{
        font-size: 24px;
    
}

}

@media  screen and  (min-width: 850px ) and (max-width:850px ),(min-height:930px) and (max-height:2000px){
    
    .left h1{
       font-size: 33px;
    }
    #portalgun{
        height:25vh;
        left:20%;
    }
    #portal{
        top:40%;
    }
    .experiencebttn {
        display: flex;
        flex-direction: column;
        column-gap: 2px;
       

    }
    .experiencebttn button{
        width:120px;
    }
    .experiencebttn button:hover{
        transform: none;
        background-color: #4F7942;
    }

    .right h2{
        font-size: 24px;
    
}
